.Home{
    /* border: 2px solid red; */
    height: 60vh;
    display: flex;
}

.home{
    /* border: 2px solid blue; */
    padding-top: 10px;
    
}
.home1{
    width: 40%;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    padding-left: 100px;
    /* padding-right: 10px; */
}
.home2{
    width: 60%;
}
.home2 img{
    padding: 5px 5px 5px 20px ;
}
#circle{
    /* border: 2px solid red; */
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    
}
.cl{
    /* border: 1px solid blue; */
    width: 20%;
    height: 40%;
    border-radius: 50%;
}
.circle1,.circle3 {
    margin-top: 20px;
}
.circle1{
    background-color:rgb(236, 236, 0) ;
}
.circle2{
    background-color: red;
}
.circle3{
    background-color: blue;
}