.Nav{
    /* border: 2px solid red; */
    height: 12vh;
    /* background-color: gainsboro; */
    display: flex;
    border-bottom: 1px solid gray;
}
.nav{
    /* border: 2px solid blue; */
    height: 100%;
    width: 33.33%;
}

.Nav1{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    cursor: pointer;
    width: 25%;
    
}
.Nav1 h2:hover{
    color: green;
   
}

.Nav2{
    padding-right: 4.2rem;
}
.Nav2 ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
}

.Nav2 ul li:hover{
    color:blue;
    transform: scale(1.1);
}

.Nav3 ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.Nav3 ul li:hover{
    transform: scale(1.1);
}